body {
  height: 100vh;
  min-height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.memory-game {
  background: radial-gradient(
    circle,
    rgb(121, 155, 48) 0%,
    rgb(89, 150, 73) 100%
  );
  width: 800px;
  height: 600px;
  min-height: 600px;
  max-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;

  &:active {
    transform: scale(0.97);
    transition: transform 0.2s;
  }
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 20px;
  border-radius: 5px;
  background: radial-gradient(
    circle,
    rgba(144, 190, 48, 1) 0%,
    rgba(108, 184, 88, 1) 100%
  );
  backface-visibility: hidden;
}

.back-face {
  padding: 30px 40px;
  transform: scale(0.9);
}

.front-face {
  transform: rotateY(180deg);
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.game {
  position: relative;
}

.game__score {
  position: absolute;
  bottom: -90px;
  // width: 50px;
  font-size: 3rem;
  width: 400px;
  text-align: center;
  left: calc(50% - 200px);
  font-weight: bold;
  color: #73ff00;
  text-shadow: 0 0 3px black;
  letter-spacing: 2px;
}

.legend {
  opacity: 0.9 !important;
  max-width: 700px !important;

  &__body {
    font-size: 1.5rem;
  }

  .modal-title {
    font-size: 2rem;
  }
}

// Easy
.easy {
  &.memory-game {
    height: 500px;
    width: 700px;
    min-height: 400px;
  }
  .memory-card {
    width: calc(33.333% - 10px);
    height: calc(50% - 10px);
  }
}

// Hard
.hard {
  &.memory-game {
    width: 800px;
    min-height: 700px;
  }
  .memory-card {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
  }
}
