// Global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./IMG/bg.jpg");
  -webkit-animation: 600s scroll infinite linear;
  -moz-animation: 600s scroll infinite linear;
  -o-animation: 600s scroll infinite linear;
  -ms-animation: 600s scroll infinite linear;
  animation: 600s scroll infinite linear;
  // background-position: bottom !important;
  background-repeat: repeat-x;
  background-color: #56ded7;
}

a {
  color: unset;
}

a:hover {
  text-decoration: none;
}

// Global classes

.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@-webkit-keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}

@-moz-keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}

@-o-keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}

@-ms-keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}

@keyframes scroll {
  0% {
    background-position: 30000px bottom;
  }

  50% {
    background-position: 15000px bottom;
  }
  100% {
    background-position: 30000px bottom;
  }
}
