.welcome {
  width: 100vw;
  height: 100vh;
  background-color: #e1e1e1;

  &__container {
    padding: 2rem 4rem;
  }
}

.welcome-menu {
  list-style-type: none;
  margin-top: 8rem;

  &__item {
    text-align: center;
    border: 1px solid black;
    margin: 1rem 0;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
    letter-spacing: 1px;
    background: rgb(144, 190, 48);
    font-weight: bold;
    font-size: 24px;
    background: radial-gradient(
      circle,
      rgba(144, 190, 48, 1) 0%,
      rgba(108, 184, 88, 1) 100%
    );

    a {
      width: 100%;
      padding: 1rem 0;
      display: block !important;
      color: rgb(255, 255, 255);
      text-shadow: 2px 2px 2px #000000;
      &:hover {
        color: rgb(255, 255, 255);
      }
    }

    &:hover {
      transform: scale(1.1);

      opacity: 1;
    }
  }
}
